<div class="modal fade show d-block" id="editSessionModal" tabindex="-1" aria-labelledby="editSessionModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="editSessionModalLabel"><i class="bi bi-calendar-check-fill"></i> Edit Attendance Session</h5>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<script>
    var myModal = new bootstrap.Modal(document.getElementById('editSessionModal'), {
        backdrop: 'static',
        keyboard: false
    })
    myModal.show()

    $('#editSessionModal').on('hidden.bs.modal', function (e) {
        window.location.href = "<%= attendance_sessions_path %>";
    })
</script>