<!-- Footer -->
<footer class="text-center text-white" style="background-color: #0a4275;">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: CTA -->
    <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Feel free to fork this project and improve the app</span>
        <a href="https://github.com/MichaelSipayung/DelAttendanceApp" target="_blank" class="btn btn-outline-light btn-rounded">
          <i class="bi bi-github" role="img" aria-label="GitHub"></i> GitHub
        </a>
      </p>
    </section>
    <!-- Section: CTA -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    ©<%= Time.now.year %> Copyright:
    <a class="text-white" href="https://www.del.ac.id/">Del Institute of Technology</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->