<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <i class="bi bi-calendar-check" style="font-size: 1.5rem;"></i>
      <span class="ms-2">Attendance App</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarContent" aria-controls="navbarContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active d-flex align-items-center" aria-current="page" href="#">
            <i class="bi bi-house-door-fill" style="font-size: 2rem;"></i>
            <span class="ms-2">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <% if !logged_in? %>
            <%= link_to login_path, class: 'nav-link d-flex align-items-center' do %>
              <i class="bi bi-box-arrow-in-right" style="font-size: 2rem;"></i>
              <span class="ms-2">Login</span>
            <% end %>
          <% else %>
            <%= link_to logout_path, data: {turbo_method: "delete",
                                                     turbo_confirm: "Logout from account?"},
                        class: 'nav-link d-flex align-items-center' do %>
              <i class="bi bi-box-arrow-right" style="font-size: 2rem;"></i>
              <span class="ms-2">Logout</span>
            <% end %>
          <% end %>
        </li>
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center"
               href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-list-check" style="font-size: 2rem;"></i>
              <span class="ms-2">Attendance</span>
            </a>
            <ul class="dropdown-menu">
<!--              <li><a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                <i class="bi bi-card-list" style="font-size: 2rem;"></i>-->
<!--                <span class="ms-2">All Attendances</span>-->
<!--              </a></li>-->
              <%= link_to attendance_sessions_path, class: "dropdown-item d-flex align-items-center" do%>
                <i class="bi bi-card-list" style="font-size: 2rem;"></i>
                <span class="ms-2">All Attendances</span>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>